.libre-baskerville-cena {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
}

html {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
}